{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}
<div class="asldfl">
<div class="contacts">
  <div>
  <img src="/static/img/email.png" alt="Email" width="100" height="100">
  <p>EMAIL </p>
    <p>info@miratorg.tech</p>
  </div>
    <div>
  <img src="/static/img/address.png" alt="Address" width="100" height="100">
  <p>НАШ ОФИС </p>
    <p>Москва, ул. Одесская 2а, БЦ "Лотос", офис 201</p>
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A197830c1fd90fdd4a15a8a34458ca03f20eee52f299498e20ff1842a17c8738b&amp;source=constructor" width="617" height="483" frameborder="0"></iframe>
  </div>
  <div>
  <img src="/static/img/phone.png" alt="Phone" width="100" height="100">
  <p>Телефон для связи: </p>
    <p>+7(919)430-75-57</p>
  </div>
  <div class="contact-info">
  </div>
</div>
</div>
{% endblock %}