{% extends 'base.html' %}

{% block title %}
Разработчики ПО
{% endblock %}

{% block body %}
<div class="asldfl">
    <div class="bodyy">
    <div class="content-container">
        <h1>Программист разработчик программ</h1>
    </div>
    <div class="description">
        <p class="descriptios">
            Разработчик — специалист, который создает программы разного назначения:
            сайты, мобильные приложения, сервисы, игры, программы для обработки данных — всё,
            с чем мы с вами сталкиваемся в digital-пространстве каждый день.
        </p>
        <p class="descriptioss">
        <span class="text_bold">Длительность :</span> 2 года по 12 часов в неделю
        </p>
    </div>
    <div class="info">
        <span class="text_body"> Cпециализация и технологическая специализация</span>
    </div>
    <div class="promo__tag text_body">
        <span>Программирование</span>
    </div>
    <div class="promo__tag text_body">
        <span>Принципы разработки ПО</span>
    </div>
    <div class="promo__tag text_body">
        <span>Скриптовые языки</span>
    </div>
    <div class="promo__tag text_body">
        <span>Проектирование ПО</span>
    </div>
    <div class="promo__info">
        <span class="text_body">Изучаемые языки и технологии</span>
    </div>
    <div class="promo__tag-wrapper">
        <div class="promo__tag_wrape">
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/java.svg" alt="Java" loading="lazy">
                <span>Java</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/python.svg" alt="Python" loading="lazy">
                <span>Python</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/javascript.svg" alt="JavaScript" loading="lazy">
                <span>JavaScript</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/cpp.svg" alt="C++" loading="lazy">
                <span>C++</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/html_css.svg" alt="HTML/CSS" loading="lazy">
                <span>HTML/CSS</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/sql.svg" alt="SQL" loading="lazy">
                <span>SQL</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/gitsvg.svg" alt="Git" loading="lazy">
                <span>Git</span>
            </div>
        </div>
    </div>
    <div class="description">
        <p class="descriptios">
                    <li data-icon="">Опыт до 1 года 60 000 р. - 160 000 р.</li>
                    <li data-icon="">Опыт от 1 до 3 лет 70 000 р. - 300 000 р.</li>
                    <li data-icon="">Опыт от 3 до 6 лет 100 000 р. - 700 000 р.</li>
                    <li data-icon="">Работа удаленно 60 000 р. - 700 000 р.</li>
        </p>
    </div>
</div>
</div>
{% endblock %}