{% extends 'base.html' %}

{% block title %}
ИИ программисты
{% endblock %}

{% block body %}
<div class="asldfl">
    <div class="bodyy">
    <div class="content-container">
        <h1>ИИ Программистов</h1>
    </div>
    <div class="description">
        <p class="descriptios">
            Специалист по искусственному интеллекту, или коротко — специалист по ИИ,
            разрабатывает ПО для распознавания устной речи и рукописного текста и программы виртуальной реальности и применяет
            их в разных научных и технических сферах, в компьютерных играх, для информационной защиты и др.
            Если упростить, то специалист по ИИ работает над созданием умной
            программы или механизма, которые были бы похожи на человека по «умственным» показателям и способности обучаться.
            Подобная тенденция намечалась ещё с древних времён, когда учёные придумывали первых человекоподобных роботов, имитирующих человеческое или звериное поведение.
        </p>
        <p class="descriptioss">
        <span class="text_bold">Длительность :</span> 10 месяцов по 20 часов в неделю
        </p>
    </div>
    <div class="info">
        <span class="text_body"> Cпециализация и технологическая специализация</span>
    </div>
    <div class="promo__tag text_body">
        <span>Программирование</span>
    </div>
    <div class="promo__tag text_body">
        <span>Принципы разработки ИИ</span>
    </div>
    <div class="promo__tag text_body">
        <span>Скриптовые языки</span>
    </div>
    <div class="promo__tag text_body">
        <span>Системный аналитик</span>
    </div>
    <div class="promo__info">
        <span class="text_body">Изучаемые языки и технологии</span>
    </div>
    <div class="promo__tag-wrapper">
        <div class="promo__tag_wrape">
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/python.svg" alt="Python" loading="lazy">
                <span>Python</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/java.svg" alt="Java" loading="lazy">
                <span>Java</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/sql.svg" alt="SQL" loading="lazy">
                <span>SQL</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/gitsvg.svg" alt="Git" loading="lazy">
                <span>Git</span>
            </div>
        </div>
    </div>
    <div class="description">
        <p class="descriptios">
                    <li data-icon="">Опыт от 0 до 2 лет 50 000 р. - 80 000 р.</li>
                    <li data-icon="">Опыт от 3 до 6 лет 85 000 р. - 110 000 р.</li>
                    <li data-icon="">Опыт выше 6 лет 120 000 р. - 150 000 р.</li>
        </p>
    </div>
</div>
</div>
{% endblock %}