{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="index asldfl">
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;justify-items: center;">
        <div style="height: 100%; max-width: 70%;">
            <h4>«Мираторг» является крупнейшим российским производителем мяса, абсолютным лидером в производстве свинины и говядины категории Prime.
                Холдингу принадлежит крупнейшее в мире поголовье быков породы абердин-ангус — именно эта мраморная говядина
                считается эталонным мясом для приготовления идеального стейка.</h4>
            <h4>В собственности холдинга порядка 600 тысяч гектар земли под пастбища для скота и поля
                для выращивания зерновых культур, которые используются в откорме животных. Естественный выпас животных,
                бережный уход, современные лаборатории и полный контроль кормления позволяют бренду обеспечивать лучшие вкусовые и качественные характеристики продукта</h4>
        </div>
        <div style="height: 100%;">
            <img src="/static/img/drawww.png" style="max-height: 70%;">
        </div>
    </div>
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;justify-items: center;">
        <div style="height: 100%; max-width: 50%;">
            <H2>КАЧЕСТВО</H2>
            <h4>Качество было и остается первым и главным приоритетом бренда. Структура вертикально интегрированного холдинга
                с собственным производством от поля до прилавка и строгим контролем качества на каждом этапе производства — единственный формат, позволяющий бренду гарантировать высочайшее качество продукции.</h4>
        </div>
        <div style="height: 100%;">
            <img src="/static/img/develop.png" style="max-height: 60%;">
        </div>
    </div>
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;justify-items: center;">
        <div style="height: 100%; max-width: 50%;">
            <H2>ЭФФЕКТИВНОСТЬ</H2>
            <h4>Холдинг ежегодно планомерно увеличивает объемы выпускаемой продукции, существенно опережая рынок. Благодаря эффективному
                менеджменту и правильным управленческим решениям «Мираторг» быстро становится лидеров в каждом из направлений деятельности.</h4>
        </div>
        <div style="height: 100%;">
            <img src="/static/img/powerful.png" style="max-height: 80%;">
        </div>
    </div>
        <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;justify-items: center;">
        <div style="height: 100%; max-width: 50%;">
            <H2>РАЗВИТИЕ И РОСТ</H2>
            <h4>Главный принцип «Мираторг»: никогда не останавливаться
                в развитии, развивать новые направления бизнеса, приобретать новый опыт и навыки ежедневно, использовать самое современное оборудование,
                развивать технологии и удерживать лидирующую позицию на рынке, непрерывно совершенствуя свой продукт.</h4>
        </div>
        <div style="height: 100%;">
            <img src="/static/img/stepping.png" style="max-height: 60%;">
        </div>
    </div>
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;justify-items: center;">
        <div style="height: 100%; max-width: 50%;">
            <H2>АБСОЛЮТНОЕ ПЕРВЕНСТВО</H2>
            <h4>«Мираторг» — прирожденный победитель и перфекционист, быстро достигающий позиции безоговорочного лидера
                в каждом направлении, за которое берется.</h4>
        </div>
        <div style="height: 100%;">
            <img src="/static/img/nuxt.png" style="max-height: 60%;">
        </div>
    </div>
</div>
{% endblock %}