{% extends 'base.html' %}

{% block title %}
Отзывы
{% endblock %}

{% block body %}
<div class="asldfl">
    <div class="bodyy">
    <div class="content-container">
        <h1>Отзывы</h1>
    </div>
    <div class="promo__tag-wrapper">
        <div class="promo__tag_wrape">
            <div class="promo-tech_item">
                <img src="/static/img/otzivi1.png" alt="JavaScript" loading="lazy">
            </div>
            <div class="promo-tech_item">
                <img src="/static/img/otzivi2.png" alt="Vue.js" loading="lazy">
            </div>
    </div>
</div>
</div>
{% endblock %}