{% extends 'base.html' %}

{% block title %}
Веб разработчики
{% endblock %}

{% block body %}
<div class="asldfl">
    <div class="bodyy">
    <div class="content-container">
        <h1>Веб-разработчик</h1>
    </div>
    <div class="description">
        <p class="descriptios">
            Веб-разработчик создаёт сайты и веб-приложения.
            Его основная задача — разрабатывать, поддерживать и развивать клиентскую часть веб-страниц — то, что видят пользователи, и серверную — ту, которая доступна только разработчикам.
            Web-разработчики используют различные языки программирования, например JavaScript, PHP, Python и Ruby, для создания, доработки сайтов и баз данных для хранения информации.
            Они также занимаются настройкой сервера и оптимизацией сайта.
            Разработчика веб-сайтов иногда путают с веб-дизайнером. Часто они работают над одним проектом, но задачи у них разные. Рассмотрим их на примере интернет-магазина:
            Веб-дизайнер разрабатывает концепцию, собирает макет, подбирает цвета, шрифты, фотографии и другие элементы.
            Веб-разработчик с помощью кода делает функциональными элементы, которые разработал дизайнер.
            Например, программирует анимацию, изменение цвета кнопок при нажатии, формы для заполнения. Подключает сайт к различным сервисам,
            например к платёжной системе, CRM и системе управления логистикой.
        </p>
        <p class="descriptioss">
        <span class="text_bold">Длительность :</span> 9 месяцов по 12 часов в неделю
        </p>
    </div>
    <div class="info">
        <span class="text_body"> Cпециализация и технологическая специализация</span>
    </div>
    <div class="promo__tag text_body">
        <span>Программирование</span>
    </div>
    <div class="promo__tag text_body">
        <span>Frontend-разработчик</span>
    </div>

    <div class="promo__info">
        <span class="text_body">Изучаемые языки и технологии</span>
    </div>
    <div class="promo__tag-wrapper">
        <div class="promo__tag_wrape">
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/javascript.svg" alt="JavaScript" loading="lazy">
                <span>JavaScript</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/vue_js.svg" alt="Vue.js" loading="lazy">
                <span>Vue.js</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/nosql.svg" alt="NoSQL" loading="lazy">
                <span>NoSQL</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/sql.svg" alt="SQL" loading="lazy">
                <span>SQL</span>
            </div>
            <div class="promo-tech_item">
                <img src="https://for-landing.hb.bizmrg.com/images/gitsvg.svg" alt="Git" loading="lazy">
                <span>Git</span>
            </div>
        </div>
    </div>
    <div class="description">
        <p class="descriptios">
                    <li data-icon="">Опыт меньше полугода 30 000 р. - 60 000 р.</li>
                    <li data-icon="">Опыт от 1 до 3 лет 80 000 р. - 150 000 р.</li>
                    <li data-icon="">Опыт от 3 до 6 лет 150 000 р. - 250 000 р.</li>
        </p>
    </div>
</div>
</div>
{% endblock %}